# SEMANA 05
Daniel Diaz Seminario

Temas

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

In [1]:
#observación(#comentario)
#siempre se debe iniciar on una letra o un guión abajo
#nunca con un número u otro simbolo

In [2]:
edad=41
edad

41

In [3]:
nombre = "Daniel"
nombre

'Daniel'

In [4]:
apellido = "Diaz Seminario"
apellido

'Diaz Seminario'

In [5]:
nombreCompleto = nombre + apellido
nombreCompleto

'DanielDiaz Seminario'

In [6]:
nombreCompleto = nombre + " " + apellido
nombreCompleto

'Daniel Diaz Seminario'

In [7]:
#Para saber el tipo de variable que utilizamos la función type()
#por ejemplo

In [8]:
numero = 50
type(numero)

int

In [9]:
type(nombre)

str

In [10]:
talla = 1.65
type(talla)

float

In [11]:
#float: decimales cortos(a lo mucho 3)
#double: decimales largos(más de tres)

In [16]:
#Para convertir un numero en cadena utilizamos
#str()
numero = 100
cadena = str(numero)
cadena

'100'

In [17]:
type(cadena)

str

In [20]:
#Convertir una cadena en un entero utilizamos
#int()
cadena2 = "50"
numero2 = int(cadena2)
cadena2

'50'

In [22]:
type(numero2)

int

In [23]:
#para convertir una cadena en un decimal utilizamos 
#float
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [24]:
type(numero2)

float