# SEMANA 05
Daniel Diaz Seminario

temas

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

tema

5. Operadores

5.1 Operadores Aritmeticos:
#Se tiene: +; -; /; *; //; **

In [10]:
numero1 = 10
numero2 = 3
suma = numero1+numero2
resta = numero1-numero2
multiplicacion = numero1*numero2
division = numero1/numero2
residuo = numero1%numero2
potencia = numero1**numero2
cociente = numero1//numero2
print(suma)
print(resta)
print(multiplicacion)
print(f"division {division:1.2f}")
print(residuo)
print(potencia)
print(cociente)

13
7
30
division 3.33
1
1000
3

In [11]:
#5.2 operadores de asignación
#se tienen =; +=; -=; *=; /=; **=
numero = 5
numero = numero + 3
print(numero)

8

In [13]:
numero=5
numero+=3
print(numero)

8

In [15]:
numero = 5
numero = numero **3
print(numero)

125

In [17]:
numero = 5
numero**= 3
print(numero)

125

In [18]:
#5.3 operadores de comparación
#se tiene: ==, !=, <, >, <=, >=

In [20]:
# ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [21]:
#con las cadenas funciona igual
nombre1 = "Frank"
nombre2 = "Frank"
nombre1==nombre2

True

In [22]:
#5.4 Operadores Lógicos
#Se tienen: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [23]:
numero1<numero2

True

In [24]:
#el not invierte el resultado
not(numero1<numero2)

False

In [25]:
numero1<numero2 and numero3<numero4

True

In [26]:
#se puede usar parentesis para ordenar tu operación
(numero1<numero2)and(numero3<numero4) or (numero3>numero4)

True

In [27]:
#5.5 operadores de pertenencia
#se tiene: in, not in
aula = ["Juan", "Daniel","Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [28]:
#¿Diego está en aula?
alumno1 in aula

False

In [29]:
#¿Juan está en aula?
alumno2 in aula

True

In [30]:
#¿Diego no está en aula?
alumno1 not in aula

True

In [31]:
#¿Juan no está en aula?
alumno2 not in aula

False

In [32]:
#5.6 Operadores de identidad
#se tienen: is; is not

In [34]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
#Vamos a invitar que aula3 va a compartir el mismo objeto
#que aula1
aula3 = aula1

In [35]:
#¿Aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [36]:
#aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [37]:
#aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [39]:
#agregamos un alumno al aula1]]
aula1.append("diego")

In [40]:
print(aula1)

['Juan', 'Daniel', 'Ruben', 'diego', 'diego']

In [41]:
aula1.append("Carlos")

In [42]:
print(aula1)

['Juan', 'Daniel', 'Ruben', 'diego', 'diego', 'Carlos']

In [43]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'diego', 'diego', 'Carlos']

In [44]:
print(aula2)

['Juan', 'Daniel', 'Ruben']

In [45]:
aula3 = aula2

In [46]:
print(aula3)

['Juan', 'Daniel', 'Ruben']

In [47]:
aula3.append("Doroteo")

In [48]:
print(aula2)

['Juan', 'Daniel', 'Ruben', 'Doroteo']